In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import requests
import warnings
from blackscholes import Black76Call
import plotly.express as px

In [2]:
import warnings
warnings.filterwarnings("ignore", category=FutureWarning)

In [3]:
def get_data():
    resp = requests.get(
                
                'http://192.168.0.172:8080/api/v1/data/settlement?symbols=MESc1&from=2023-01-01&to=2024-04-17')
        
    data = resp.json()
    df = pd.DataFrame(data)
    df['timestamp'] = pd.to_datetime(df['timestamp'])
    df['timestamp'] = df['timestamp'].dt.strftime("%m/%d/%Y")
    df['timestamp'] = pd.to_datetime(df['timestamp'])


    loc_index = df.columns.get_loc('timestamp') + 1
    df.insert(loc=loc_index,column='Month',value=df['timestamp'].dt.month)
    loc_index = df.columns.get_loc('timestamp') + 2
    df.insert(loc=loc_index,column='Year',value=df['timestamp'].dt.year)
    return df

In [4]:
import numpy as np
from scipy.stats import norm
N = norm.cdf


def find_vol(target_value, S, K, T, r, *args):
    MAX_ITERATIONS = 200
    PRECISION = 1.0e-5
    sigma = 0.5
    for i in range(0, MAX_ITERATIONS):
        price = Black76Call(S, K, T, r, sigma).price()
        vega = Black76Call(S, K, T, r, sigma).vega()
        diff = target_value - price  # our root
        if (abs(diff) < PRECISION):
            return sigma
        sigma = sigma + diff/vega # f(x) / f'(x)
    return sigma # value wasn't found, return best guess so far

def implied_volatility_bs(option_price, S, K,  T ,r, option_type='call'):
    tolerance = 0.0001
    lower_volatility = 0.01  # starting lower bound for volatility
    upper_volatility = 4.0   # starting upper bound for volatility

    while True:
        mid_volatility = (lower_volatility + upper_volatility) / 2
        theoretical_price = Black76Call(S , K, T, r, mid_volatility).price()
        
        if abs(theoretical_price - option_price) < tolerance:
            return mid_volatility
        
        if theoretical_price < option_price:
            lower_volatility = mid_volatility
        else:
            upper_volatility = mid_volatility

In [5]:
def round( n ): 
  
    # Smaller multiple 
    a = (n // 10) * 10
      
    # Larger multiple 
    b = a + 10
      
    # Return of closest of two 
    return (b if n - a > b - n else a) 


month_code = dict( {
    1: 'F',
    2: 'G',
    3: 'H',
    4: 'J',
    5: 'K',
    6: 'M',
    7: 'N',
    8: 'Q',
    9: 'U',
    10: 'V',
    11: 'X',
    12: 'Z'
})

def last_two_digit_year(year):
    return year % 100

def get_symbol(df):
    df['call_symbol'] = ("@"+'EW'+df['month_code']+df['last_digit_year']+"C"+df['strike_price']+df['hundred']).astype(str)   
    df['put_symbol'] = ("@"+'EW'+df['month_code']+df['last_digit_year']+"P"+df['strike_price']+df['hundred']).astype(str)
    return df   
def myround(x, base=10):
    return base * round(x/base)

In [6]:
def df_pre_process(df):
    df['strike_price'] = df['settlement'].apply(lambda x: round(x))
    df['strike_price'] = df['strike_price'].astype(int)
    df['month_code'] = df['Month'].map(month_code).astype(str)
    df['last_digit_year'] = df['Year'].apply(lambda x: last_two_digit_year(x)).astype(str)
    df['last_digit_year'] = df['last_digit_year'].astype(str)
    df['strike_price'] = (df['strike_price']).astype(str)
    df['hundred'] = '00'
    df = get_symbol(df)
    df = df[['timestamp' , 'call_symbol', 'put_symbol' , 'strike_price']]
    df['start_time'] = df['timestamp']
    df['end_time'] = df['timestamp'].shift(-1)
    return df

In [7]:
df1 = get_data()

In [8]:
df = df1.copy()
df = df_pre_process(df).dropna()

C:\Users\IBISP\AppData\Local\Temp\ipykernel_28064\976365482.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['start_time'] = df['timestamp']
C:\Users\IBISP\AppData\Local\Temp\ipykernel_28064\976365482.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['end_time'] = df['timestamp'].shift(-1)

In [9]:
df_call = pd.read_csv(r'C:\Users\IBISP\Desktop\Bhargav\Option Chain\S&P_ATMData_03_01_23_to_16_04_24_Call.csv')

In [10]:
df_expire =  df.groupby([ df['timestamp'].dt.year , df['timestamp'].dt.month]).agg({'timestamp':'last'})

In [11]:
df_expire['month'] = df_expire['timestamp'].dt.month
df_expire['year'] = df_expire['timestamp'].dt.year
df_expire.columns = ['timestamp' , 'month' , 'year']

In [12]:
df_expire

                     timestamp  month  year
timestamp timestamp
2023      1         2023-01-31      1  2023
          2         2023-02-28      2  2023
          3         2023-03-31      3  2023
          4         2023-04-28      4  2023
          5         2023-05-31      5  2023
          6         2023-06-30      6  2023
          7         2023-07-31      7  2023
          8         2023-08-31      8  2023
          9         2023-09-29      9  2023
          10        2023-10-31     10  2023
          11        2023-11-30     11  2023
          12        2023-12-29     12  2023
2024      1         2024-01-31      1  2024
          2         2024-02-29      2  2024
          3         2024-03-28      3  2024
          4         2024-04-16      4  2024

In [13]:
df1

     timestamp  Month  Year    sym  settlement
0   2023-01-03      1  2023  MESc1     3846.00
1   2023-01-04      1  2023  MESc1     3874.50
2   2023-01-05      1  2023  MESc1     3829.00
3   2023-01-06      1  2023  MESc1     3915.50
4   2023-01-09      1  2023  MESc1     3913.75
..         ...    ...   ...    ...         ...
320 2024-04-11      4  2024  MESc1     5243.25
321 2024-04-12      4  2024  MESc1     5167.50
322 2024-04-15      4  2024  MESc1     5104.00
323 2024-04-16      4  2024  MESc1     5092.50
324 2024-04-17      4  2024  MESc1     5062.25

[325 rows x 5 columns]

In [15]:
df_call['date'] = pd.to_datetime(df_call['date'])
df_call['date'] = df_call['date'].dt.strftime("%m/%d/%Y")
df_call['date'] = pd.to_datetime(df_call['date'])
df_call['timestamp'] = df_call['date']
df_call['month'] = df_call['timestamp'].dt.month
df_call['year'] = df_call['timestamp'].dt.year

df_call = pd.merge(df_call , df1[['timestamp' , 'settlement']] , on='timestamp')


df_call = df_call[['date', 'open', 'high', 'low', 'close', 'volume',
       'open_int', 'timestamp','month', 'year', 'settlement']]

df_call = pd.merge(df_call , df_expire , on=['month' , 'year'])
df_call['dte'] = (df_call['timestamp_y'] - df_call['date']).dt.days

In [16]:
df_call['strike_price'] = df_call['settlement'].apply(lambda x: round(x))
df_call = df_call[df_call['dte'] != 0]

In [28]:
df_call.tail(60)

,date,open,high,low,close,volume,open_int,timestamp_x,month,year,settlement,timestamp_y,dte,strike_price,atm_volatility,atm_volatility_bs
260,2024-01-16,51.25,51.25,36.25,42.75,1025,2672,2024-01-16,1,2024,4798.50,2024-01-31,15,4800.0,0.112316,0.112316
261,2024-01-17,44.25,44.75,36.75,44.75,142,887,2024-01-17,1,2024,4771.25,2024-01-31,14,4770.0,0.118630,0.118630
262,2024-01-18,25.75,43.25,25.00,42.00,240,670,2024-01-18,1,2024,4811.25,2024-01-31,13,4810.0,0.114457,0.114457
263,2024-01-19,21.50,39.25,17.75,37.00,374,903,2024-01-19,1,2024,4869.50,2024-01-31,12,4870.0,0.105937,0.105937
264,2024-01-22,37.25,46.00,33.00,33.75,660,984,2024-01-22,1,2024,4881.00,2024-01-31,9,4880.0,0.108897,0.108897
265,2024-01-23,30.25,35.00,24.50,32.25,270,2131,2024-01-23,1,2024,4895.00,2024-01-31,8,4890.0,0.102859,0.102859
266,2024-01-24,32.50,48.50,24.75,28.25,948,4169,2024-01-24,1,2024,4898.00,2024-01-31,7,4900.0,0.108141,0.108141
267,2024-01-25,20.25,32.00,20.25,30.25,161,1688,2024-01-25,1,2024,4923.25,2024-01-31,6,4920.0,0.113703,0.113703
268,2024-01-26,25.75,33.50,19.75,22.50,952,1864,2024-01-26,1,2024,4916.25,2024-01-31,5,4920.0,0.106019,0.106018
269,2024-01-29,8.30,26.00,8.20,24.25,1353,3292,2024-01-29,1,2024,4954.50,2024-01-31,2,4950.0,0.149981,0.149980
270,2024-01-30,23.25,24.25,10.25,18.75,4105,3430,2024-01-30,1,2024,4951.00,2024-01-31,1,4950.0,0.176529,0.176529
272,2024-02-01,40.75,76.75,39.50,60.00,341,701,2024-02-01,2,2024,4928.50,2024-02-29,28,4930.0,0.112003,0.112003
273,2024-02-02,48.00,67.25,40.25,58.75,217,868,2024-02-02,2,2024,4980.25,2024-02-29,27,4980.0,0.108939,0.108939
274,2024-02-05,62.25,63.50,50.75,55.50,177,500,2024-02-05,2,2024,4962.00,2024-02-29,24,4960.0,0.107777,0.107777
275,2024-02-06,53.50,55.50,48.25,54.00,187,1945,2024-02-06,2,2024,4974.75,2024-02-29,23,4970.0,0.103984,0.103984
276,2024-02-07,31.00,50.00,31.00,47.25,335,1636,2024-02-07,2,2024,5015.25,2024-02-29,22,5020.0,0.101227,0.101227
277,2024-02-08,47.00,47.00,43.00,46.75,120,1648,2024-02-08,2,2024,5017.75,2024-02-29,21,5020.0,0.099978,0.099978
278,2024-02-09,39.50,50.50,38.50,48.75,274,937,2024-02-09,2,2024,5044.00,2024-02-29,20,5040.0,0.099546,0.099546
279,2024-02-12,48.50,61.50,45.00,47.25,279,986,2024-02-12,2,2024,5041.25,2024-02-29,17,5040.0,0.107711,0.107711
280,2024-02-13,50.25,56.00,37.00,48.25,549,2019,2024-02-13,2,2024,4971.25,2024-02-29,16,4970.0,0.114987,0.114987
281,2024-02-14,26.00,42.50,26.00,42.00,258,1687,2024-02-14,2,2024,5018.00,2024-02-29,15,5020.0,0.106154,0.106154
282,2024-02-15,28.00,40.25,28.00,39.75,1888,3958,2024-02-15,2,2024,5046.50,2024-02-29,14,5050.0,0.105371,0.105371
283,2024-02-16,59.25,64.50,40.50,40.50,223,1642,2024-02-16,2,2024,5019.75,2024-02-29,13,5020.0,0.107701,0.107701
284,2024-02-20,45.50,47.25,32.00,39.75,1243,2088,2024-02-20,2,2024,4991.50,2024-02-29,9,4990.0,0.124902,0.124903
285,2024-02-21,31.75,45.75,21.50,34.75,1363,5837,2024-02-21,2,2024,4996.25,2024-02-29,8,5000.0,0.124109,0.124109
286,2024-02-22,6.35,34.00,6.35,29.75,3762,3758,2024-02-22,2,2024,5097.75,2024-02-29,7,5100.0,0.109669,0.109669
287,2024-02-23,31.00,41.75,23.00,25.25,1569,3739,2024-02-23,2,2024,5101.50,2024-02-29,6,5100.0,0.093966,0.093966
288,2024-02-26,36.50,39.25,20.75,21.00,112,753,2024-02-26,2,2024,5080.25,2024-02-29,3,5080.0,0.113664,0.113664
289,2024-02-27,15.25,18.75,9.95,17.00,600,939,2024-02-27,2,2024,5090.00,2024-02-29,2,5090.0,0.113132,0.113131
290,2024-02-28,21.50,21.50,9.50,14.75,2256,1013,2024-02-28,2,2024,5081.00,2024-02-29,1,5080.0,0.134290,0.134290
292,2024-03-01,77.00,98.50,65.00,96.50,1595,3280,2024-03-01,3,2024,5146.00,2024-03-28,27,5150.0,0.177039,0.177039
293,2024-03-04,100.00,108.75,97.50,97.50,12,559,2024-03-04,3,2024,5138.25,2024-03-28,24,5140.0,0.187808,0.187808
294,2024-03-05,103.25,103.25,87.50,99.00,23,514,2024-03-05,3,2024,5085.75,2024-03-28,23,5090.0,0.199137,0.199137
295,2024-03-06,86.50,112.25,86.50,102.25,34,755,2024-03-06,3,2024,5111.75,2024-03-28,22,5110.0,0.203211,0.203211
296,2024-03-07,83.00,103.00,83.00,101.75,174,690,2024-03-07,3,2024,5161.75,2024-03-28,21,5160.0,0.204930,0.204930
297,2024-03-08,96.75,96.75,61.50,61.50,124,1074,2024-03-08,3,2024,5129.00,2024-03-28,20,5130.0,0.129821,0.129821
298,2024-03-11,56.50,56.50,51.00,56.00,132,1128,2024-03-11,3,2024,5185.75,2024-03-28,17,5190.0,0.130403,0.130403
299,2024-03-12,37.75,51.75,37.75,51.00,162,819,2024-03-12,3,2024,5241.25,2024-03-28,16,5240.0,0.115361,0.115361
300,2024-03-13,57.75,57.75,49.50,49.50,302,1619,2024-03-13,3,2024,5232.50,2024-03-28,15,5230.0,0.114290,0.114289
301,2024-03-14,64.25,64.25,40.25,47.25,320,1063,2024-03-14,3,2024,5218.00,2024-03-28,14,5220.0,0.118558,0.118558
302,2024-03-15,74.75,74.75,48.25,50.75,171,896,2024-03-15,3,2024,5182.75,2024-03-28,13,5180.0,0.126796,0.126796
303,2024-03-18,39.00,60.50,39.00,47.25,571,627,2024-03-18,3,2024,5214.75,2024-03-28,10,5210.0,0.130472,0.130471
304,2024-03-19,29.00,42.25,22.00,40.50,350,931,2024-03-19,3,2024,5241.75,2024-03-28,9,5240.0,0.120843,0.120843
305,2024-03-20,17.00,32.75,17.00,30.75,737,1089,2024-03-20,3,2024,5286.75,2024-03-28,8,5290.0,0.103689,0.103689
306,2024-03-21,32.75,41.25,29.75,29.75,3571,4338,2024-03-21,3,2024,5302.50,2024-03-28,7,5300.0,0.097358,0.097358
307,2024-03-22,38.25,38.25,24.00,25.25,548,1115,2024-03-22,3,2024,5293.25,2024-03-28,6,5290.0,0.087239,0.087239
308,2024-03-25,28.50,31.50,17.75,18.25,691,2423,2024-03-25,3,2024,5278.25,2024-03-28,3,5280.0,0.100142,0.100141
309,2024-03-26,35.75,38.00,14.25,14.25,579,1338,2024-03-26,3,2024,5265.25,2024-03-28,2,5270.0,0.106203,0.106203
310,2024-03-27,3.70,13.00,1.85,10.25,8723,3870,2024-03-27,3,2024,5308.25,2024-03-28,1,5310.0,0.100165,0.100165
312,2024-04-01,80.00,80.00,59.75,62.00,146,1498,2024-04-01,4,2024,5295.25,2024-04-16,15,5300.0,0.150523,0.150523
313,2024-04-02,66.00,68.25,58.25,68.25,33,340,2024-04-02,4,2024,5260.50,2024-04-16,14,5260.0,0.165810,0.165810
314,2024-04-03,57.50,69.25,57.50,64.25,153,484,2024-04-03,4,2024,5266.50,2024-04-16,13,5270.0,0.166683,0.166683
315,2024-04-04,118.75,118.75,72.50,72.75,273,1081,2024-04-04,4,2024,5197.25,2024-04-16,12,5200.0,0.197455,0.197455
316,2024-04-05,54.50,78.75,54.00,72.50,1394,1648,2024-04-05,4,2024,5253.00,2024-04-16,11,5250.0,0.195528,0.195528
317,2024-04-08,72.00,72.00,64.75,64.75,190,1631,2024-04-08,4,2024,5253.25,2024-04-16,8,5250.0,0.203733,0.203733
318,2024-04-09,61.50,69.50,46.25,62.25,135,703,2024-04-09,4,2024,5260.25,2024-04-16,7,5260.0,0.214009,0.214009
319,2024-04-10,60.50,63.50,55.00,62.50,180,296,2024-04-10,4,2024,5207.75,2024-04-16,6,5210.0,0.239003,0.239003
320,2024-04-11,58.75,68.00,58.75,60.50,66,513,2024-04-11,4,2024,5243.25,2024-04-16,5,5240.0,0.240692,0.240692
321,2024-04-12,90.00,90.00,64.50,64.50,172,217,2024-04-12,4,2024,5167.50,2024-04-16,4,5170.0,0.304749,0.304749
322,2024-04-15,120.50,125.00,69.50,71.25,240,841,2024-04-15,4,2024,5104.00,2024-04-16,1,5100.0,0.649963,0.649963

In [30]:
df

,timestamp,call_symbol,put_symbol,strike_price,start_time,end_time
0,2023-01-03,@EWF23C385000,@EWF23P385000,3850,2023-01-03,2023-01-04
1,2023-01-04,@EWF23C387000,@EWF23P387000,3870,2023-01-04,2023-01-05
2,2023-01-05,@EWF23C383000,@EWF23P383000,3830,2023-01-05,2023-01-06
3,2023-01-06,@EWF23C392000,@EWF23P392000,3920,2023-01-06,2023-01-09
4,2023-01-09,@EWF23C391000,@EWF23P391000,3910,2023-01-09,2023-01-10
...,...,...,...,...,...,...
319,2024-04-10,@EWJ24C521000,@EWJ24P521000,5210,2024-04-10,2024-04-11
320,2024-04-11,@EWJ24C524000,@EWJ24P524000,5240,2024-04-11,2024-04-12
321,2024-04-12,@EWJ24C517000,@EWJ24P517000,5170,2024-04-12,2024-04-15
322,2024-04-15,@EWJ24C510000,@EWJ24P510000,5100,2024-04-15,2024-04-16
323,2024-04-16,@EWJ24C509000,@EWJ24P509000,5090,2024-04-16,2024-04-17

In [18]:
df_call['atm_volatility'] = df_call.apply(lambda x: find_vol(x['close'] , x['settlement'] , x['strike_price'] , x['dte']/365 , 0.055) , axis=1)

In [19]:
df_call['atm_volatility_bs'] = df_call.apply(lambda x: implied_volatility_bs(x['close'] , x['settlement'] , x['strike_price'] , x['dte']/365 , 0.055) , axis=1)

In [20]:
def strike_price_76(F ,sigma ,  T ,delta, option_type = 'call' ):
    #  T option dte
    #  t time to future expiry
    if option_type == 'call':
 
        result = (F* np.exp( - norm.ppf(delta ) * sigma * np.sqrt(T) - (sigma ** 2 * T) / 2))  
        return myround(result) 
    else:
        delta =  delta + 1

        result = F* np.exp(  - norm.ppf(delta ) * sigma * np.sqrt(T) -(sigma ** 2 * T) / 2) 
        return myround(result)

In [21]:
Target_delta = 0.25

In [22]:
def first_strike(F ,r ,sigma ,  T  ,Targeted_delta, option_type = 'call' ):
    new_strike = strike_price_76(F  ,sigma ,  T  ,Targeted_delta, option_type = 'call' )

    # replace option price with fetching from new data
    option_price = (df.loc[df['Strike'] == new_strike]['BidPrice'].values[0] + df.loc[df['Strike'] == new_strike]['OfferPrice'].values[0])/2

    strike_volatility = find_vol(option_price, F, new_strike,  T ,r)
    derived_delta = Black76Call(F, new_strike,T, r, strike_volatility).delta()
    
    return new_strike , derived_delta , strike_volatility

In [23]:
# def strike_for_target_delta(F ,r ,sigma ,  T , t ,Targeted_delta, derived_delta, option_type = 'call' ):
#     new_strike , derived_delta , strike_volatility = first_strike(F ,r ,sigma ,  T , t ,Targeted_delta, option_type = 'call' )
#     i = 1
#     old_delta = derived_delta 
#     while i < 15:
#         if abs(round(Targeted_delta,2) - round(derived_delta,2)) < 0.001:
#             # if (Targeted_delta - old_delta) < (Targeted_delta - derived_delta):
#             #     print(f"Strike price for ad {old_delta} delta:", old_strike)
#             # else:
#             if abs( round(Targeted_delta,4) - round(derived_delta,4)) < 0.00000001:
#                 # print(f"Strike price for {Targeted_delta} Targeted_delta:", new_strike)
#                 return new_strike , derived_delta
#             if abs( round(Targeted_delta,4) - round(derived_delta,4)) < 0.00001:
#                 if Targeted_delta > 80:
#                     # print(f"Strike price for {Targeted_delta} Targeted_delta:", new_strike - 10)
#                     return new_strike - 10 , derived_delta
#                 elif Targeted_delta < 20:
#                     # print(f"Strike price for {Targeted_delta} Targeted_delta:", new_strike + 10)
#                     return new_strike + 10 , derived_delta
#             break
#         else:
#             if Targeted_delta < derived_delta:

#                 old_strike = new_strike
#                 new_strike = old_strike + 10
#                 old_delta = derived_delta

#                 option_price = (df.loc[df['Strike'] == new_strike]['BidPrice'].values[0] + df.loc[df['Strike'] == new_strike]['OfferPrice'].values[0])/2
#                 strike_volatility = find_vol(option_price, F, new_strike,  T ,r)
#                 # derived_delta = mibian.BS([F, new_strike, r, T*365] , volatility= strike_volatility * 100)
#                 derived_delta = Black76Call(F, new_strike,T, r, strike_volatility).delta()
#                 # print(f"Actual Delta: {derived_delta}")

#             else:

#                 old_strike = new_strike
#                 new_strike = old_strike - 10
#                 old_delta = derived_delta

#                 option_price = (df.loc[df['Strike'] == new_strike]['BidPrice'].values[0] + df.loc[df['Strike'] == new_strike]['OfferPrice'].values[0])/2
#                 strike_volatility = find_vol(option_price, F, new_strike,  T ,r)
#                 derived_delta = Black76Call(F, new_strike,T, r, strike_volatility).delta()
#             # print(" Strike price = " , new_strike, "Delta = ", derived_delta)
#             return new_strike , derived_delta
#         i += 1  
#     if i == 15:
#         if Targeted_delta > 0.7:
#             # print("Strike price  = " , min(new_strike ,old_strike), "Delta = ", derived_delta)
#             return min(new_strike ,old_strike) , derived_delta
#         else:
#             # print("Strike price  = " , max(new_strike ,old_strike), "Delta = ", derived_delta)
#             return max(new_strike ,old_strike) , derived_delta

In [24]:
def strike_price_76(F  ,sigma ,  T  ,delta, option_type = 'call' ):
    #  T option dte
    #  t time to future expiry
    if option_type == 'call':
        # result = (F* np.exp( - norm.ppf(delta * np.exp(r*t)) * sigma * np.sqrt(T) - (sigma ** 2 * T) / 2)) 
        result = (F* np.exp( - norm.ppf(delta ) * sigma * np.sqrt(T) - (sigma ** 2 * T) / 2))  # with less error
        return myround(result) 
    else:
        delta =  delta + 1
        # result = F* np.exp(  - norm.ppf(delta * np.exp(r*t)) * sigma * np.sqrt(T) - (sigma ** 2 * T) / 2) 
        result = F* np.exp(  - norm.ppf(delta ) * sigma * np.sqrt(T) -(sigma ** 2 * T) / 2) # with less error
        return myround(result)
    

def first_strike(F ,r ,sigma ,  T  ,Targeted_delta ):
    new_strike = strike_price_76(F  ,sigma ,  T ,Targeted_delta, option_type = 'call' )

    # replace option price with fetching from new data
    option_price = (df.loc[df['Strike'] == new_strike]['BidPrice'].values[0] + df.loc[df['Strike'] == new_strike]['OfferPrice'].values[0])/2

    strike_volatility = find_vol(option_price, F, new_strike,  T ,r)
    derived_delta = Black76Call(F, new_strike,T, r, strike_volatility).delta()
    
    return new_strike , derived_delta , strike_volatility

def strike_for_target_delta(df , F ,r ,sigma ,  T , t ,Targeted_delta):
    new_strike , derived_delta , strike_volatility = first_strike(F ,r ,sigma ,  T  ,Targeted_delta)
    i = 1
    old_delta = derived_delta 
    while i < 15:
        if abs(round(Targeted_delta,4) - round(derived_delta,4)) < 0.001:
            
            if abs( round(Targeted_delta,4) - round(derived_delta,4)) < 0.0001:
                return new_strike , derived_delta
                # print(f"Strike price1 for {Targeted_delta} Targeted_delta:", new_strike)
            else:
                if Targeted_delta > 0.80:
                    return new_strike - 10 , derived_delta
                    # print(f"Strike price2 for {Targeted_delta} Targeted_delta:", new_strike - 10)
                elif Targeted_delta < 0.20:
                    return new_strike + 10 , derived_delta
                    # print(f"Strike price3 for {Targeted_delta} Targeted_delta:", new_strike + 10)
            
        else:
            if Targeted_delta < derived_delta:

                old_strike = new_strike
                new_strike = old_strike + 10
                old_delta = derived_delta

                option_price = (df.loc[df['Strike'] == new_strike]['BidPrice'].values[0] + df.loc[df['Strike'] == new_strike]['OfferPrice'].values[0])/2
                strike_volatility = find_vol(option_price, F, new_strike,  T ,r)
                # derived_delta = mibian.BS([F, new_strike, r, T*365] , volatility= strike_volatility * 100)
                derived_delta = Black76Call(F, new_strike,T, r, strike_volatility).delta()
                # print(f"Actual Delta: {derived_delta}")

            else:

                old_strike = new_strike
                new_strike = old_strike - 10
                old_delta = derived_delta

                option_price = (df.loc[df['Strike'] == new_strike]['BidPrice'].values[0] + df.loc[df['Strike'] == new_strike]['OfferPrice'].values[0])/2
                strike_volatility = find_vol(option_price, F, new_strike,  T ,r)
                derived_delta = Black76Call(F, new_strike,T, r, strike_volatility).delta()
            # print(" Strike price1 = " , new_strike, "Delta = ", derived_delta)
        i += 1  
    if i == 15:
        if Targeted_delta > 0.7:
            # print("Strike price  = " , min(new_strike ,old_strike), "Delta = ", derived_delta)
            return min(new_strike ,old_strike) , derived_delta
        elif Targeted_delta < 0.3:
            # print("Strike price  = " , max(new_strike ,old_strike), "Delta = ", derived_delta)
            return max(new_strike ,old_strike) , derived_delta
    return new_strike , derived_delta

In [26]:
df_call

,date,open,high,low,close,volume,open_int,timestamp_x,month,year,settlement,timestamp_y,dte,strike_price,atm_volatility,atm_volatility_bs
0,2023-01-03,116.00,116.00,76.50,84.75,237,490,2023-01-03,1,2023,3846.00,2023-01-31,28,3850.0,0.204865,0.204865
1,2023-01-04,82.75,96.50,73.25,84.75,231,512,2023-01-04,1,2023,3874.50,2023-01-31,27,3870.0,0.197156,0.197156
2,2023-01-05,82.50,84.00,81.75,81.75,211,213,2023-01-05,1,2023,3829.00,2023-01-31,26,3830.0,0.202527,0.202527
3,2023-01-06,52.25,78.25,52.25,73.00,333,418,2023-01-06,1,2023,3915.50,2023-01-31,25,3920.0,0.184605,0.184605
4,2023-01-09,81.00,98.00,76.25,76.25,100,507,2023-01-09,1,2023,3913.75,2023-01-31,22,3910.0,0.194759,0.194759
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
318,2024-04-09,61.50,69.50,46.25,62.25,135,703,2024-04-09,4,2024,5260.25,2024-04-16,7,5260.0,0.214009,0.214009
319,2024-04-10,60.50,63.50,55.00,62.50,180,296,2024-04-10,4,2024,5207.75,2024-04-16,6,5210.0,0.239003,0.239003
320,2024-04-11,58.75,68.00,58.75,60.50,66,513,2024-04-11,4,2024,5243.25,2024-04-16,5,5240.0,0.240692,0.240692
321,2024-04-12,90.00,90.00,64.50,64.50,172,217,2024-04-12,4,2024,5167.50,2024-04-16,4,5170.0,0.304749,0.304749
322,2024-04-15,120.50,125.00,69.50,71.25,240,841,2024-04-15,4,2024,5104.00,2024-04-16,1,5100.0,0.649963,0.649963